@import "../../../../../styles.scss";
.caja{
    background-color: white;
    z-index: 9;
    width: 100%;
    min-width: 200px;
    border: 2px solid black;
    padding: 30px;
    position: relative;
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .switchYesNo{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    
    }
    .datos{
        font-size: 100%;
        // border: 2px solid black;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        input{
            width: 100%;
        }
        .field{
            margin-bottom: 10px;
        }
        .doble{
            display: flex;
            justify-content: space-around;
            // border: 2px solid black;
            gap: 20px;
            width: 100%;
            p-inputNumber{
                width: 100% !important;
            }
        }
        .campo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            min-width: 100%;
            h1{
                margin-top: 30px;
                border-bottom: #8C239E solid 2px;
                padding: 0px 40px 10px 40px;
                color: $morado-input ;
                font-weight: bold;
            }
            .solicitud-principal{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 100%;
                gap: 30px;
                .botones{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-around;
                    align-items: center;
                    min-width: 100%;

                }
              
            }
            .more{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                 gap: 30px; 
            }
        }
        .botones{
            margin-top: 50px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 20px;
        }
    }
    button{
        width: 180px;
    }
}
.flexrow{
    flex-direction: row !important;
}
.flexcolumn{
    flex-direction: column !important;
}
.activate{
    color: #8C239E !important;
    font-weight: bold;
}
//? Para los botones de elegir o prótesis o cabello
:host ::ng-deep{
    .p-togglebutton{
        width: 400px !important;
        height: 200px !important;
        font-size: 40px !important;
    }
}