

<!-- ! Mensajes info -->
<p-toast position="top-center" style="margin-top:300px"></p-toast>

<div class="caja animate__animated animate__backInLeft">
    <form [formGroup]="solicitudesForm">
        <div class="titulo">
            <h1>Solicitud</h1>
            <icon-refresh *ngIf="haveDatosClinicos" (update)="reset()"></icon-refresh>
        </div>
        <div *ngIf="!haveDatosClinicos" class="alert alert-success" role="alert">
            Este usuario no tiene registrado datos clínicos, puedes crearlos
        </div>
        <div *ngIf="haveDatosClinicos" class="alert alert-primary" role="alert">
            El usuario tiene datos clínicos registrados, puedes modificarlos
        </div>
        <div class="datos">
            <div class="campo">
                <h1>¿Que desea solicitar?</h1>
                <div class="solicitud-principal">
                    <p-toggleButton (onChange)="protesisChange($event)" [onLabel]="'Quiero una prótesis'" offLabel="Prótesis" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}" formControlName="have_protesis"></p-toggleButton>
                    <small *ngIf="campoEsValido('have_protesis')" class="p-error block">
                        {{ have_protesisErrorMsg }}
                    </small>
                    <p-toggleButton (onChange)="cabelloChange($event)" [onLabel]="'Quiero cabello natural'" offLabel="Cabello natural" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}" formControlName="have_cabello"></p-toggleButton>
                    <small *ngIf="campoEsValido('have_cabello')" class="p-error block">
                        {{ have_cabelloErrorMsg }}
                    </small>
                </div>
            </div>
            <div class="campo">
                <div *ngIf="solicitudesForm.controls['have_protesis'].value" class="more">
                    <solicitud-protesis-form (protesisValue)="getProtesis($event)"></solicitud-protesis-form>
                </div>
            </div>
            <div class="campo">
                <div *ngIf="solicitudesForm.controls['have_cabello'].value" class="more">
                    <solicitud-cabellos-form (cabelloValue)="getCabello($event)"></solicitud-cabellos-form>
                </div>
            </div>
            <div class="campo">
                <div class="titulo">
                    <h3>¿Quiere tambien un pañuelo?</h3>
                    <div class="switchYesNo">
                        <span [ngClass]="!solicitudesForm.controls['have_panuelo'].value?'activate':''" >No</span><p-inputSwitch  formControlName="have_panuelo"></p-inputSwitch><span [ngClass]="solicitudesForm.controls['have_panuelo'].value?'activate':''">Si</span>
                    </div>
                    <solicitud-textiles-form *ngIf="solicitudesForm.controls['have_panuelo'].value" (textilValue)="getTextil($event)"></solicitud-textiles-form>
                </div>

            </div>
            <div class="campo">
                    <h1>¿Que parte del dia desearia recoger su peluca?</h1>
                    <p-dropdown [options]="disponibilidad" formControlName="disponibilidad" [editable]="true" optionLabel="name" optionValue="name" ></p-dropdown>
                    <small style="margin-top: -30px;" *ngIf="campoEsValido('disponibilidad')" class="p-error block" >
                        {{ disponibilidadErrorMsg }}
                    </small>
            </div>
            <div class="campo">
                    <h1>¿Donde desearia recoger los productos?</h1>
                    <p-dropdown [options]="disponibilidad" formControlName="disponibilidad" [editable]="true" optionLabel="name" optionValue="name" ></p-dropdown>
                    <!-- <small style="margin-top: -30px;" *ngIf="campoEsValido('disponibilidad')" class="p-error block" >
                        {{ disponibilidadErrorMsg }}
                    </small> -->
            </div>

            <div class="botones">
                <button *ngIf="btnStatusUpdate()" (click)="update()" class="btn-morado">Actualizar</button>
                <button *ngIf="btnStatusCreate()" (click)="crear()" class="btn-morado">Crear</button>
                <p-confirmPopup></p-confirmPopup>
                <button (click)="eliminar($event)"  pButton  *ngIf="btnStatusUpdate()" class="btn-rojo">Eliminar registro</button>
                <alert-dberrors [erroresDB]="erroresDB"></alert-dberrors>
            </div>
        </div>

    </form>
</div>
