@mixin text-h1-morado(){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    letter-spacing: -0.015em;
    /* Morado letra */
    color: #7879F1;
} 