@import "./colores";
.ola{
    position: absolute;
    z-index: 0 !important;
    margin-top: $navheigth;
    width: 100%;
    user-select: none;
}
@media (max-width: 767.98px) { 
    .ola{
      margin-top: 0px;  
    }
    
}
// @mixin cajaform ($width:75%,$flex-direction:column) {
//   background-color: white;
//   z-index: 9;
//   width: $width;
//   min-width: 200px;
//   border: 2px solid black;
//   display: flex;
//   flex-direction: $flex-direction;
// }
/* Scroll Personalizado */

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background: $morado-input;
	border-radius: 5px;
}

//! Estilo de las barras de scroll
