<!--? Tabla a seguir Table Lazy  -->
<p-toast></p-toast>
<div class="card" *ngIf="users">
    <app-spinner></app-spinner>
    <h5>Filtrar y editar Usuarios</h5>
        <p-table [value]="users" 
        dataKey="id"
        editMode="row"
        responsiveLayout="scroll"
        (onLazyLoad)="loadUsers($event)"
        [paginator]="true" [rows]="10"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id<p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="apellidos">Apellidos<p-sortIcon field="apellidos"></p-sortIcon></th>
                    <th pSortableColumn="telefono">Telefono<p-sortIcon field="telefono"></p-sortIcon></th>
                    <th pSortableColumn="cpostal">Código postal<p-sortIcon field="cpostal"></p-sortIcon></th>
                    <th pSortableColumn="createdAt">Creado<p-sortIcon field="createdAt"></p-sortIcon></th>
                    <th pSortableColumn="updatedAt">Actualizado<p-sortIcon field="updatedAt"></p-sortIcon></th>
                    <th pSortableColumn="rol">Roles<p-sortIcon field="rol"></p-sortIcon></th>
                    <th style="width:8rem"></th>
                </tr>
                <tr class="filtro">
                    <th >
                        <p-columnFilter type="numeric" field="id"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="email"></p-columnFilter>
                    </th>
                    <th >
                        <p-columnFilter  type="text" field="nombre"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="apellidos"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="telefono"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="cpostal"></p-columnFilter>
                    </th>
                    <th class="filtrofecha">
                        <p-columnFilter type="date" field="createdAt"></p-columnFilter>
                    </th>
                    <th class="filtrofecha">
                        <p-columnFilter type="date" field="updatedAt"></p-columnFilter>
                    </th>
                    <th>
                      
                    </th>
                    <th>

                    </th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="user">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{user.id}} 
                            </ng-template> 
                            <ng-template pTemplate="output">
                                {{user.id}} 
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.email">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.email}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.nombre" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.nombre}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.apellidos">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.apellidos}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.telefono" >
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.telefono}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.cpostal">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.cpostal}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{user.createdAt | date: 'dd/MM/yyyy hh:mm a'}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.createdAt | date: 'dd/MM/yyyy hh:mm a' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{user.updatedAt | date: 'dd/MM/yyyy hh:mm a' }}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.updatedAt | date: 'dd/MM/yyyy hh:mm a' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div *ngFor="let rol of rolesCheck" class="field-checkbox">
                                    <p-checkbox (onChange)="cambiacheck($event)" name="group2" [trueValue]="true" value="rol" [value]="rol" check  [(ngModel)]="selectedRoles" [inputId]="rol.key"></p-checkbox>
                                    <label style="margin-left: 10px; font-size: 10px;" [for]="rol.key">{{rol.name}}</label>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span *ngFor="let rol of metodos.ordenarJSONDesc(user.rol,'rol') " [ngClass]="badgeRole(rol)">{{ rol.role }} </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="userAct && user.id != userAct.id; else you" style="text-align:center;">
                        <div *ngIf="editingStatus; else otroboton">
                            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                        </div>
                        <ng-template #otroboton>
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                        </ng-template>
                        
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user,ri,editing)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing && editingStatus" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user,ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                    <ng-template #you>
                        <td style="display: flex; justify-content:center;align-items:center; height: 100%;text-align:center">
                            <div class="herr">
                                <i (click)="_router.navigate(['admin/auth/update'])" class="pi pi-cog"></i> 
                            </div>  
                        </td>
                      
                    </ng-template>
                    
                </tr>      
            </ng-template>
        </p-table>
    </div>