.card{
    padding: 20px;
}
.pi-cog{
    cursor: pointer;
    margin-top: 20%; 
    color: blueviolet;
}


.filtro{
    th{
        min-width: 200px;
      
    }
    .filtrofecha{
        min-width: 420px;
    }
   
}
:host ::ng-deep{
    .p-datatable,.p-datatable-wrapper{
         min-height: 600px !important;
     }
 }
 