<p-toast></p-toast>
<div class="card">
    <h5>Row Editing</h5> <app-spinner></app-spinner>
        <p-table [value]="users" dataKey="id" editMode="row" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>id</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Código postal</th>
                    <th>Roles</th>
                    <th style="width:8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
               
                <tr [pEditableRow]="user">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{user.id}} 
                            </ng-template> 
                            <ng-template pTemplate="output">
                                {{user.id}} 
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.email" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.email}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.nombre" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.nombre}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.apellidos" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.apellidos}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.telefono" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.telefono}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="user.cpostal" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{user.cpostal}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div *ngFor="let rol of rolesCheck" class="field-checkbox">
                                    <p-checkbox (onChange)="cambiacheck($event)" name="group2" [trueValue]="true" value="rol" [value]="rol" check  [(ngModel)]="selectedRoles" [inputId]="rol.key"></p-checkbox>
                                    <label style="margin-left: 10px; font-size: 10px;" [for]="rol.key">{{rol.name}}</label>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span *ngFor="let rol of user.rol">{{ rol.role }}</span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="userAct && user.id != userAct.id; else you" style="text-align:center;">
                        <div *ngIf="editingStatus; else otroboton">
                            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                        </div>
                        <ng-template #otroboton>
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                        </ng-template>
                        
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user,editing)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing && editingStatus" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user,ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                    <ng-template #you>
                       <div class="herr" style="display: flex; justify-content:center;align-items:center; height: 100%;text-align:center">
                           <i class="pi pi-cog"></i> 
                       </div>
                    </ng-template>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>