.caja{
    .bloque{
        background-color: white;
        padding: 50px;
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .grafico{
            width: 30%;
        } 
    }
   
}