<!-- ! Mensajes info -->
<p-toast position="top-center" style="margin-top:300px"></p-toast>

<div class="container">
    <form [formGroup]="notificacionesForm" class="caja cajaform-1">
        <div class="titulo" style="display: flex; align-items:center; gap:10px">
              <h1>Notificaciones</h1><icon-refresh (update)="reset($event)" *ngIf="notificacion"></icon-refresh>
        </div>
      
        <h2 *ngIf="!notificacion" style="color: green">Crear</h2>
        <h2 *ngIf="notificacion" style="color: blue">Actualizar</h2>

        <div class="datos">
            <div class="field" style="display: flex; flex-direction: column;">
                <label for="tipo" class="block">Tipo</label>
                <!-- <input id="tipo" type="email" aria-describedby="username2-help" pInputText formControlName="tipo" /> -->
                <div class="tipo">
        
                    <p-dropdown [options]="TiposNotificaciones" optionLabel="name" optionValue="code" [showClear]="true" placeholder="Selecciona el tipo" formControlName="tipo" ></p-dropdown>
                    
                    <i *ngIf="notificacionesForm.controls['tipo'].value =='success'" class="pi pi-check" style="color:rgb(13, 241, 13)"></i>
                    <i *ngIf="notificacionesForm.controls['tipo'].value =='info'" class="pi pi-info-circle" style="color:rgb(13, 43, 241)"></i>
                    <i *ngIf="notificacionesForm.controls['tipo'].value =='warn'" class="pi pi-exclamation-triangle" style="color:rgb(241, 154, 13)"></i>

                </div>
                <small id="tipo"  *ngIf="campoEsValido('tipo')" class="p-error block">
                    {{ tipoErrorMsg }}
                </small>
            </div>

            <div class="field" style="display: flex; flex-direction: column;">
                <label for="header" class="block">Cabecera</label>
                <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"  formControlName="header" ></textarea>
                <!-- <input id="password" type="password" aria-describedby="username2-help" pInputText formControlName="password" /> -->
                <small id="header" *ngIf="campoEsValido('header')" class="p-error block">
                    {{ headerErrorMsg }}
                </small>
            </div>
            <div class="editor">
                <p-editor formControlName="mensaje" [style]="{'height':'320px','width':'100%'}"></p-editor>
                <small id="tipo"  *ngIf="campoEsValido('mensaje')" class="p-error block">
                    {{ mensajeErrorMsg }}
                </small>
                <!-- {{ notificacionesForm.controls['mensaje'].value}} -->
            </div>
        </div>
        <alert-dberrors [erroresDB]="erroresDB"></alert-dberrors>
        <button *ngIf="!notificacion" (click)="send()"  class="btn-morado">Crear</button>
        <button *ngIf="notificacion" (click)="update()"  class="btn-morado">Actualizar</button>
    </form>
   
   
<!-- <p>{{ singinForm.value | json }}</p>
<p>{{ singinForm.valid | json }}</p> -->
</div>
