<!-- ! Mensajes info -->
<p-toast position="top-center" style="margin-top:300px"></p-toast>
<div class="caja animate__animated" [ngClass]="forAdmin ? 'animate__backInLeft' :'animate__fadeInUpBig'" >
    <form [formGroup]="datosclinicosForm">
        <div class="titulo">
            <h1>Datos Clínicos</h1>
            <icon-refresh *ngIf="haveDatosClinicos" (update)="reset()"></icon-refresh>
        </div>
        <div *ngIf="!haveDatosClinicos && forAdmin" class="alert alert-success" role="alert">
            Este usuario no tiene registrado datos clínicos, puedes crearlos
        </div>
        <div *ngIf="haveDatosClinicos && forAdmin" class="alert alert-primary" role="alert">
            El usuario tiene datos clínicos registrados, puedes modificarlos
        </div>
        <div class="datos" [ngClass]="posicion()">
            <div class="campo">
                <div class="switch">
                    <label><strong>¿Padece alguna enfermedad?</strong></label>
                    <p-inputSwitch (onChange)="cambiarSwitchEnfermedades($event)" formControlName="have_enfermedades">
                    </p-inputSwitch>
                </div>
                <div *ngIf="datosclinicosForm.controls['have_enfermedades'].value" class="more">
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label for="enfermedades" class="block">Comente sus enfermedades</label>
                        <textarea id="enfermedades" [rows]="5" [cols]="30" [autoResize]="true" [maxlength]="300"
                            pInputTextarea formControlName="enfermedades"></textarea>
                        <small *ngIf="campoEsValido('enfermedades')" class="p-error block">
                            {{ enfermedadesErrorMsg }}
                        </small>
                    </div>
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label for="tratamiento_actual" class="block">Comente el tratamiento que realiza</label>
                        <textarea id="tratamiento_actual" [rows]="5" [cols]="30" [autoResize]="true" [maxlength]="300"
                            pInputTextarea formControlName="tratamiento_actual"></textarea>
                        <small *ngIf="campoEsValido('tratamiento_actual')" class="p-error block">
                            {{ tratamiento_actualErrorMsg }}
                        </small>
                    </div>
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label for="medicacion" class="block">En caso de que tome un medicamento, escríbelo</label>
                        <textarea id="medicacion" [rows]="5" [cols]="30" [autoResize]="true" [maxlength]="300"
                            pInputTextarea formControlName="medicacion"></textarea>
                        <small *ngIf="campoEsValido('medicacion')" class="p-error block">
                            {{ medicacionErrorMsg }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="campo">
                <div class="switch">
                    <label><strong>¿Padece alguna alergia?</strong></label>
                    <p-inputSwitch (onChange)="cambiarSwitchAlergias($event)" formControlName="have_alergias">
                    </p-inputSwitch>
                </div>
                <div *ngIf="datosclinicosForm.controls['have_alergias'].value" class="more">
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label for="enfermedades" class="block">¿Que alergia/s padeces? Escríbelas</label>
                        <textarea id="enfermedades" [rows]="5" [cols]="30" [autoResize]="true" [maxlength]="300" pInputTextarea formControlName="alergias"></textarea>
                        <small *ngIf="campoEsValido('alergias')" class="p-error block">
                            {{ alergiasErrorMsg }}
                        </small>
                    </div>
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label for="tratamiento_actual" class="block">Comente si toma algún medicamento para la
                            alergia</label>
                        <textarea id="tratamiento_actual" [rows]="5" [cols]="20" [autoResize]="true"
                            [maxlength]="300" pInputTextarea formControlName="alergias_medicacion"></textarea>
                        <small *ngIf="campoEsValido('alergias_medicacion')" class="p-error block">
                            {{ alergias_medicacionErrorMsg }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="botones">
                <button *ngIf="btnStatusUpdate()" (click)="update()" class="btn-morado">Actualizar</button>
                <button *ngIf="btnStatusCreate()" (click)="crear()" class="btn-morado">Crear</button>
                <p-confirmPopup></p-confirmPopup>
                <button (click)="eliminar($event)"  pButton  *ngIf="btnStatusUpdate() && forAdmin" class="btn-rojo">Eliminar registro</button>
                <alert-dberrors [erroresDB]="erroresDB"></alert-dberrors>
            </div>
        </div>

    </form>
</div>