<div class="container-fluid nav">
    <div class="caja">
        <div class="logo">
            <a [routerLink]="['/']"><img src="assets/img/logo/logo.png"></a>
        </div>
        <div class="menu">
            <div class="btn-menu">Productos</div>
            <div class="btn-menu">Blog</div>
            <div class="btn-menu">Tips</div>
            <div class="btn-menu">About us</div>
            <div class="btn-menu">Sugerencias</div>
        </div>
    </div>
    <div class="botones">
        <button class="btn-blanco">Log in</button>
        <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" ><button class="btn-morado">Register</button></a>
    </div>
</div>