@import "../../../../assets/scss/_variables.scss";
.nav{
    // border: 2px solid black;
    z-index: 10;
    position: fixed;
    top: 0px;
    background-color: white;
    min-height: $navheigth; // 62px
    max-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
    flex-wrap: wrap;
    box-shadow: 0px 2px 10px;

    //? caja
    .caja{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        //? El logo
        .logo{
            width: 100px;
            height: $navheigth;
            padding-bottom: 0px;
            margin-bottom: 0px;
            // border: black 2px solid;
            img{
                width: 100%;
                height: 100%;
            }
        }

        //?Botones del menú
        .menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // gap: 24px;
            .btn-menu{
                padding-left:20px;
                padding-right:20px;
                // max-width: 100px;
                height: $navheigth;
                // border: 2px solid black;
                font-family: 'Montserrat';
                font-style:normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.015em;
                color: #7879F1;
                transition: 0.2s;
                cursor: pointer;
                &:hover{
                    cursor: pointer;
                    // transform: scale(1.1);
                    // font-family: 'Montserrat';
                    // font-style: normal;
                    // font-weight: 700;
                    color: #ef5da8a1;
                    // color: aliceblue;
                }
            } 
        }
    }

    //? Caja de los botones de la derecha
    .botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        // border: 2px solid black;
        margin-bottom: 10px;
    }

}


// `sm` se aplica a dispositivos x-small (teléfonos verticales, menos de 576px)
@media (max-width: 575.98px) { 

 }

// `md` se aplica a dispositivos pequeños (teléfonos horizontales, menos de 768px)
@media (max-width: 767.98px) { 
    .logo{
        margin: 30px auto;
        width: 200px !important;
        height: 200px !important;
    }
    .nav{
        // height: 62px * 2;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .caja{
        flex-direction: column;
    }
    .menu{
        width: 100%;
        padding-top: 30px;
        margin-bottom: 20px;
        justify-content: center;
        .btn-menu{
            // font-size: 20px !important; 
        }
    }
    .botones{
        margin-bottom: 40px !important;
    }
 }

// "lg" se aplica a dispositivos medianos (tabletas, menos de 992 px)
@media (max-width: 991.98px) {  }

// `xl` se aplica a dispositivos grandes (computadoras de escritorio, menos de 1200 px)
@media (max-width: 1199.98px) { }

// `xxl` se aplica a dispositivos de gran tamaño (escritorios grandes, menos de 1400px)
@media (max-width: 1399.98px) { }