<div class="container-fluid nav">
    <div class="caja">
        <div class="logo">
            <a [routerLink]="['/']"><img src="assets/img/logo/logo.png"></a>
        </div>
        <div class="menu">
            <div class="btn-menu" routerLink="/centros" routerLinkActive="activado">Centros</div>
            <div class="btn-menu">Blog</div>
            <div class="btn-menu">Tips</div>
            <div class="btn-menu" routerLink="/about_us" routerLinkActive="activado">About us</div>
            <div class="btn-menu">Sugerencias</div>
            <div *ngIf="_auth.loggedIn()" [routerLink]="['/notificaciones']" routerLinkActive="activado"class="btn-menu">Tus Notificaciones</div>
        </div>
        <div *ngIf="!_auth.loggedIn(); else logged" class="botones">
            <button [routerLink]="['/auth/login']" routerLinkActive="btnActive" class="btn-blanco">Log in</button>
            <a [routerLink]="['/auth/register']" routerLinkActive="btnActive" ><button class="btn-morado">Register</button></a>
        </div>
        <ng-template #logged>
            <div class="botones">

                <div class="user">
                    <div class="imagen">
                        <p-avatar (click)="irSettings()" image="assets/img/logo/logo_negro.jpg" styleClass="mr-2" size="large" shape="circle"></p-avatar>
                        <i class="pi pi-user-edit"></i>
                    </div>

                    <i  class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 2rem" [value]="notileng">
                        <div class="caja">
                            <h1>Notificaciones</h1>
                            <hr>
                            <p-scrollPanel class="notificaciones" [style]="{width: '100%', height: '100px'}" styleClass="custombar1">
                                <div *ngFor="let notificacion of notificaciones" [routerLink]="['/notificacion',notificacion.id]"  [ngClass]="colorFondoNoti(notificacion)" class="notificacion">
                                    <h2>{{ notificacion.header }}</h2>
                                    <i *ngIf="notificacion.tipo=='success'" class="pi pi-check" style="color:rgb(13, 241, 13)"></i>
                                    <i *ngIf="notificacion.tipo=='info'" class="pi pi-info-circle" style="color:rgb(13, 43, 241)"></i>
                                    <i *ngIf="notificacion.tipo=='warn'" class="pi pi-exclamation-triangle" style="color:rgb(241, 154, 13)"></i>
                                </div>
                                <p *ngIf="notificaciones.length == 0">No tienes notificaciones😄</p>
                                <!-- <div class="notificacion">
                                    <h2>Se ha aceptado el pedido </h2>
                                    <i class="pi pi-check" style="color:rgb(13, 241, 13)"></i>
                                </div> -->
                            </p-scrollPanel>
                        </div>
                    </i>

                </div>
                
                <button class="btn-blanco" (click)="_auth.logout()">LogOut</button>
            </div>
        </ng-template>
    </div>
    <button *ngIf="Admin()" class="btn-admin" routerLink="/admin"><i class="pi pi-cog"></i> ADMIN</button>
    
</div>