
<div class="container-fluid footer p-5">
    
        <div class="logo">
            <div class="titulo">
                <h1>Pelucas solidarias</h1>
                <img routerLink="/" routerLinkActive="activado" src="assets/img/logo/logo_negro.jpg">
            </div>
            <span class="small">© 2022 Ruben Esteve Vicente</span>
        </div>
        
        <div class="menu">
            <div class="submenu">
                <h1>Servicios</h1>
                <a routerLink="/solicitud">Solicitar</a>
                <a>Features</a>
                <a>Tutorials</a>
                <a>Pricing</a>
            </div>
            <div class="submenu">
                <h1>Información</h1>
                <a routerLink="/centros">Centros afiliados</a>
                <a routerLink="/about_us">About us</a>
                <a>Tips</a>
                <a>Blog</a>
            </div>
            <div class="submenu">
                <h1>Redes sociales</h1>
                <a href="https://www.youtube.com/channel/UCwtSyT2KmN-yW2rc2w--k9w/featured">Youtube <i class="fa-brands fa-youtube"></i></a>
                <a>Instagram <i class="fa-brands fa-instagram"></i></a>
                <a>Twitter <i class="fa-brands fa-twitter"></i></a>
                <a>Facebook <i class="fa-brands fa-facebook"></i></a>
                <!-- <a>Pricing</a> -->
            </div>
        </div>
   
</div>