
<div class="container-fluid footer p-5">
    
        <div class="col-12 col-md-6 logo">
            <h1 >Logo</h1>
            <span class="small">© 2022 Ruben Esteve Vicente</span>
        </div>
        
        <div class="col-12 col-md-6 menu">
            <div class="submenu">
                <h1>Product</h1>
                <a>Overview</a>
                <a>Features</a>
                <a>Tutorials</a>
                <a>Pricing</a>
            </div>
            <div class="submenu">
                <h1>Product</h1>
                <a>Overview</a>
                <a>Features</a>
                <a>Tutorials</a>
                <a>Pricing</a>
            </div>
            <div class="submenu">
                <h1>Product</h1>
                <a>Overview</a>
                <a>Features</a>
                <a>Tutorials</a>
                <a>Pricing</a>
            </div>
            <div class="submenu">
                <h1>Product</h1>
                <a>Overview</a>
                <a>Features</a>
                <a>Tutorials</a>
                <a>Pricing</a>
            </div>
        </div>
   
</div>