<div class="row logo d-flex justify-content-center align-items-center">
    <h1 class="h2" style="text-align: center;">Pelucas Solidarias</h1>
</div>
<div class="row mt-2">
<p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custombar1">
    <div class="site"  routerLinkActive="activado" routerLink="/admin/dashboard"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
    <div class="bloque">
        <h1>General</h1>
        <div class="botones">
            <div class="site" routerLinkActive="activado" routerLink="/admin/users"><i class="pi pi-users"></i><h3 class="d-none d-lg-block">Usuarios</h3></div>
            <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
            <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
 
        </div>
    </div>
    <div class="bloque">
        <h1>Notificaciones</h1>
        <div class="botones">
            <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
            <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
            <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
 
        </div>
    </div>
    <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>











</p-scrollPanel>
</div>