<div class="row logo d-flex justify-content-center align-items-center">
    <h1 class="h2" style="text-align: center;">Pelucas Solidarias</h1>
</div>
<div class="row mt-2">
<p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custombar1">
    <div class="site"  routerLinkActive="activado" routerLink="/admin/dashboard"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
    <div class="bloque">
        <h1>General</h1>
        <div class="botones">
            <div class="site" routerLinkActive="activado" routerLink="/admin/users"><i class="pi pi-users"></i><h3 class="d-none d-lg-block">Usuarios</h3></div>
            <div class="site" routerLinkActive="activado" routerLink="/admin/centros"><i class="fa-solid fa-school"></i><h3 class="d-none d-lg-block">Centros</h3></div>
            <!-- <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div> -->
            <div class="site" routerLinkActive="activado" routerLink="/admin/solicitudes"><i class="fa-solid fa-calendar-plus"></i><h3 class="d-none d-lg-block">Solicitudes</h3></div>
        </div>
    </div>
    <div class="bloque">
        <h1>Comunicación</h1>
        <div class="botones">
            <div class="site" routerLinkActive="activado" routerLink="/admin/notificaciones"><i class="pi pi-envelope"></i><h3 class="d-none d-lg-block">Notificaciones</h3></div>
            <!-- <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div>
            <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div> -->
 
        </div>
    </div>
    <div class="bloque">
        <h1>Datos</h1>
        <div class="botones">
            <div class="site" routerLinkActive="activado" routerLink="/admin/medidas"><i class="fa-solid fa-ruler"></i><h3 class="d-none d-lg-block">Medidas</h3></div>
            <div class="site" routerLinkActive="activado" routerLink="/admin/datos_clinicos"><i class="fa-solid fa-file-medical"></i><h3 class="d-none d-lg-block">Datos Clínicos</h3></div>
        </div>
    </div>
    <div class="bloque">
        <h1>Servicios</h1>
        <div class="botones">
            <div class="site" routerLinkActive="activado" routerLink="/admin/cheques_regalo"><i class="fa-solid fa-gift"></i><h3 class="d-none d-lg-block">Cheques regalo</h3></div>
        </div>
    </div>
    <!-- <div class="bloque">
        <h1>Productos</h1>
        <div class="botones">
            <div class="site" routerLinkActive="activado" routerLink="/admin/protesis"><i class="fa-solid fa-eye"></i><h3 class="d-none d-lg-block">Protesis</h3></div>
            <div class="site" routerLinkActive="activado" routerLink="/admin/cabellos"><i class="fa-solid fa-eye"></i><h3 class="d-none d-lg-block">Cabellos</h3></div>
            <div class="site" routerLinkActive="activado" routerLink="/admin/textiles"><i class="fa-solid fa-eye"></i><h3 class="d-none d-lg-block">Textiles</h3></div>
        </div>
    </div> -->

    <!-- <div class="site"><i class="pi pi-inbox"></i><h3 class="d-none d-lg-block">DashBoard</h3></div> -->
    <!-- <div class="site"><i class="fa-solid fa-calendar-plus"></i><h3 class="d-none d-lg-block">Solicitudes</h3></div> -->








</p-scrollPanel>
</div>