<div class="caja p-5">
    <!--! Titulo -->
    <admin-selec-row-table [rows]="users | selecRow:'users'" (selected)="seleccionaUser($event)"></admin-selec-row-table>
    <div *ngIf="userSelect !=null" class="notificacionestable">
        <h1>Notificaciones del usuario:</h1>
        <h3><strong>{{ userSelect.nombre  | titlecase }} {{ userSelect.apellidos  | titlecase }}</strong> con id: <strong>{{ userSelect.id}}</strong></h3>
        <admin-delete-table [rows]="notificaciones" [sort]="false" (selected)="seleccionaNotificacion($event)" (delete)="deletenoti($event)"></admin-delete-table>
    </div>
    <admin-form-notificaciones *ngIf="userSelect !=null" [notificacion]="notificacionSelect" [user]="userSelect" (new)="meterListaNoti($event)" (newupdate)="cambiarNoti($event)"></admin-form-notificaciones>
</div>