<div class="container mb-3">
    <!--! Primera fila -->
    <div class="row">
        <div class="col">
            <div class="caja-about">
                <div class="bloque animate__animated animate__fadeInUpBig">
                    <div class="img">
                        <img style="border-radius: 30px 0px 0px 0px ;" src="assets/img/home/chicaAboutUs.jpg" alt="">
                        <img style="border-radius: 0px 0px 0px 30px ;" src="assets/img/home/about-us.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h1 class="header">Sobre nosotros</h1>
                            <div class="pregunta">
                                <h1><img src="assets/img/icons/comprension.png">¿Como nace este proyecto?</h1>
                                <p>El proyecto nace para dar respuesta a las necesidades de 
                                    personas que están sufriendo la enfermedad y no disponen de recursos 
                                    económicos para costearse una peluca o pañuelo oncológico.</p>
                            </div>
                            <div class="pregunta">
                                <h1><img src="assets/img/icons/pelo1.png">¿Quien elabora las pelucas?</h1>
                                <p>Las pelucas, de cabello natural, son elaboradas por el <strong>alumnado de 2º 
                                    curso del GS de Estilismo y Dirección de Peluquería</strong>. El alumnado de GM 
                                    de Peluquería y Cosmética Capilar, participa en el cuidado y 
                                    mantenimiento de higienización de las prótesis capilares y pelucas.</p>
                            </div>
                            <div class="pregunta">
                                <h1><img src="assets/img/icons/cabezas-de-pelos-y-tijeras.png">¿Se ofrece algún tipo de servicio?</h1>
                                <p>El resto de alumnado de la Familia de Imagen Personal, tanto de estética 
                                    como de peluquería, colabora ofreciendo diversos <strong>servicios gratuitos</strong>, 
                                    a aquellos donantes de cabello y pelucas que deseen participar en el 
                                    banco.<br>
                                    Como además, elaborando "<strong>tips</strong>" o <strong>consejos</strong>, de cuidados de la 
                                    imagen personal en pacientes oncológicos.</p>
                            </div>
                            <strong class="label-contacto">¿Quieres saber algo mas? Numero de contacto:</strong>
                            <div class="contacto"><i class="fa-solid fa-phone"></i> +1 (234) 567-8910</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>