<!-- ! Mensajes info -->
<p-toast position="top-center" style="margin-top:300px"></p-toast>

<div class="caja">
    <form [formGroup]="chequesRegaloForm">
        <div class="titulo">
            <h1>Medidas de la cabeza</h1>
            <icon-refresh *ngIf="haveDatosClinicos" (update)="reset()"></icon-refresh>
        </div>
        <div *ngIf="!chequeRegalo" class="alert alert-danger" role="alert">
            Este usuario no tiene registrado datos clínicos, puedes crearlos
        </div>
        <div *ngIf="chequeRegalo" class="alert alert-primary" role="alert">
            El usuario tiene datos clínicos registrados, puedes modificarlos
        </div>
        <div class="datos">
            <div class="campo">
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label for="enfermedades" class="block">Servicio</label>
                        <input pInputText type="text" formControlName="servicio">
                        <small *ngIf="campoEsValido('enfermedades')" class="p-error block">
                            <!-- {{ enfermedadesErrorMsg }} -->
                        </small>
                    </div>
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label for="enfermedades" class="block">Describe el servicio</label>
                        <textarea id="enfermedades" [rows]="5" [cols]="30" [autoResize]="true" [maxlength]="300"
                            pInputTextarea formControlName="descripcion"></textarea>
                        <small *ngIf="campoEsValido('enfermedades')" class="p-error block">
                            <!-- {{ enfermedadesErrorMsg }} -->
                        </small>
                    </div>

                    <div class="botones">
                        <button *ngIf="btnStatusUpdate()" (click)="update()" class="btn-morado">Actualizar</button>
                        <button *ngIf="btnStatusCreate()" (click)="crear()" class="btn-morado">Crear</button>
                        <p-confirmPopup></p-confirmPopup>
                        <button (click)="eliminar($event)" pButton *ngIf="btnStatusUpdate()" class="btn-rojo">Eliminar
                            registro</button>
                        <alert-dberrors [erroresDB]="erroresDB"></alert-dberrors>
                    </div>
                </div>
            </div>
    </form>
</div>