<div class="caja">
    <h1>Administrar datos clínicos de los usuarios</h1>
    <app-spinner></app-spinner>
    <div class="tabla">
        <admin-selec-row-table [rows]="users | selecRow:'users'" (selected)="userSelect($event)"></admin-selec-row-table>
    </div>
   
    <generic-info-user *ngIf="userSelected" [user]="userSelected" title="Datos clínicos del usuario:" ></generic-info-user>
    <user-datos-clinicos-form *ngIf="userSelected" [forAdmin]="true" [user]="userSelected"></user-datos-clinicos-form>
</div>