:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}
@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #9AECF8;
    }
    40% {
        stroke: #869BDB;
    }
    66% {
        stroke: #9C69D5;
    }
    80%,
    90% {
        stroke: #D00ECA;
    }
}